body {
	background-color: lightgrey;
	color: blue;
}

.update {
	display: inline-block;
	clear: left;
	width: 250px;
	text-align: left;
}

.updateinput {
	display: inline-block;
}

.match {
	color: green;
}

.invalid {
	color: red;
}

#userContainer {
	display: flex;
	align-items: center;
	height: 80vh;
	
}

#userInterest {
	overflow-y: scroll;
	height: 75%;
}

#headContainer{
	height: 200px;
}

#interest:hover {
	font-weight: bold;
}

.interestLink{
	text-decoration: none;
}