body {
	background-color: rgb(234, 235, 239);
	color: rgb(34, 36, 41);
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th {
	border: 1px solid rgb(34, 35, 41);
}
.table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
	color: rgb(34, 35, 41);
}

.table-bordered > thead > tr > th {
	border: 1px solid rgb(53, 57, 63);
}

.update {
	display: inline-block;
	clear: left;
	width: 250px;
	text-align: left;
}

.updateinput {
	display: inline-block;
}

.match {
	color: green;
}

.invalid {
	color: red;
}

#userContainer {
	align-items: center;
	height: 100vh;
}

#userInterest {
	overflow-y: scroll;
	height: 50%;
}

#headContainer {
	height: 200px;
}

#interest:hover {
	color: blue;
	border: 5px solid black;
}

.interestLink {
	text-decoration: none;
}

